{:name         "Lazy Map"
 :description  "Lazy maps for Clojure"
 :license      "Eclipse Public License 1.0"
 :package      io.randomseed/lazy-map
 :output-path  "docs"
 :source-uri   "https://github.com/randomseed-io/lazy-map/tree/{version}/{filepath}#L{line}"
 :exclude-vars nil
 :metadata     {:doc/format :markdown}
 :themes       [:default :randomseed]}
